
data/data.csv
data/data_fragment.csv
data/data_f.csv
data/Network/edge.csv
data/Network/node.csv
data/test.csv
data/test2.csv
data/Тырган датчик радона обучение.xlsx
data/test3.csv
/visualization/venv
